@media screen and (min-width:1025px) {
	#header {
		background-image:url('../images/travel-weather/travel-and-weather-in-basel.png');
		width:711px;
		height:144px;
	}
	
	#main article:nth-child(1) {
		background-color:#6DCDC2;
	}

	#main article:nth-child(2) {
		background-color:#00AFA8;
	}

	#main article:nth-child(3) {
		background-color:#007873;
	}
}

@media screen and (max-width:1024px) {
	#header {
		background-image:url('../images/travel-weather/travel-and-weather-in-basel.png');
		width:711px;
		height:144px;
	}

	#mobile article:nth-child(1) {
		background-color:#6DCDC2;
	}

	#mobile article:nth-child(2) {
		background-color:#00AFA8;
	}

	#mobile article:nth-child(3) {
		background-color:#007873;
	}
}

@media screen and (max-width:800px) {	
	#mobile article:nth-child(1) {
		background-color:#6DCDC2;
	}

	#mobile article:nth-child(2) {
		background-color:#00AFA8;
	}

	#mobile article:nth-child(3) {
		background-color:#007873;
	}
}
